body {
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;

}

.top-banner {
    background-image: url(images/donation11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.top-banner-text {
    padding: 120px;
    text-align: center;
}

.main-header {
    font-size: 70px;
    padding: 0px 120px;
    color: white;
}

.main-header-paragraph {
    color: white;
    font-weight: 400;
    padding: 0px 120px 20px;
    font-size: 20px;
}

a {
    background-color: tomato;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 12px;
}

.Donate-part {
    text-align: center;
    padding: 40px;
}

.Donate-part-amount {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;
}

input {
    padding: 5px 100px;
    margin-bottom: 35px;
}

.enter-amount {
    padding: 55px;
    margin: 10px;
    background-color: rgba(224, 224, 239, 0.416);
}

span {
    padding: 55px;
    margin: 10px;
    background-color: tomato;
}

.Donate-plan {
    text-align: center;
}

.Donate-plan-family {
    display: flex;
    align-items: center;
    align-items: center;
    padding-bottom: 40px;
    width: 100%;
}

.food-for-family {
    background-color: rgb(27, 160, 116);
    margin: 10px;
    padding: 30px;
    width: 30%;
}

.shelter-for-family {
    background-color: rgb(163, 127, 255);
    margin: 10px;
    padding: 30px;
    width: 30%;
}

.education-for-child {
    background-color: aquamarine;
    margin: 10px;
    padding: 30px;
    width: 30%;

}

footer {
    background-color: black;
    padding-bottom: 40px;
}

.footer-part-header {
    color: tomato;
    text-align: center;
    font-family: Brush Script MT;
    padding-top: 25px;
    font-size: 45px;
}

.footer-last-part {
    text-align: center;
    color: white;
}